.reader {
  /* display: flex;
  width: 150px;
  height: 70px;
  padding: 6px;
  flex-direction: column;
  justify-content: center; */

  background-color: ghostwhite;


  position: absolute;
  width: 48%;
  height: 48%;
}

.reader span {
  display: block;
  transform: translate(-50% -50%);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
   -ms-transform: translate(-50%, -50%) rotate(-45deg);
   -moz-transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;
  position: absolute;
}


.TOP {
  left: 0;
  top: 0;
}

.LEFT {
  left: 0;
  bottom: 0;
}

.RIGHT {
  right: 0;
  top: 0;
}

.BOTTOM {
  right: 0;
  bottom: 0;
}
