.all-readers {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 0;
  padding: 50% 0;
  text-align: center;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* got help with diagonal menu from:  */
/* https://stackoverflow.com/questions/32456864/create-a-responsive-diamond-shape-containing-4-separate-diamonds-with-centered-t */
/* and accompanying demo: */
/* http://jsfiddle.net/39pq7dhy/4/ */
